body {
   
}
h1 {
    font-size: 4rem;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
    font-size: 2.5rem;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hidden {
    display: none;
}
.install-btn {
    position: absolute;
    width: 90%;
    height: 5rem;
    line-height: 5rem;
    cursor:pointer;
    background-color: red;
    left: 5%;
    color: white;
    font-size: 2rem;
}